*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font-color: #646464;
  --general-background-color: #fafafa;
  --border-line-color: #dbd8d8;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout-wrapper {
  width: 100%;
  max-width: 1200;
  background-color: #fafafa;
}

.layout-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.header-section {
  flex: 1 1 100%;
  height: 80px;

  text-align: center;
}

.header-section h3 {
  margin: 20px auto;
}

.row {
  flex: 0 1 100%;
}

.body-section-row {
  flex: 0 1 75%;
  height: auto;
  margin: 5rem auto 5rem auto;
}

#hero {
  display: flex;
  column-gap: 1rem;
  background-color: #fafafa;
}

[class^="hero"] {
  flex: 0 1 90%;
  padding: 1rem;
}

.hero.left {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.hero.right {
  padding: 0;
  display: flex;
  justify-content: space-between;

}

[class^="img"] {
  flex: 0 1 30%;
  height: 90%;
  /* padding: 1rem; */
  /* border: 2px solid black; */
}

.img.shiftdown {
  margin-top: 2rem;
}

#round {
  width: 120px;
  height: 120px;
  margin: auto;

  border-radius: 50%;
}

#round-middle {
  width: 120px;
  height: 120px;
  margin: 1rem auto 0 auto;

  border-radius: 50%;
}

/* ! Hero Images */
.round-img.one {
  background: url("images/pic-person-01.jpg") no-repeat center;
  background-size: cover;
}

.round-img.two {
  background: url("images/pic-person-02.jpg") no-repeat center;
  background-size: cover;
}

.round-img.three {
  background: url("images/pic-person-03.jpg") no-repeat center;
  background-size: cover;
}

.round-img.four {
  background: url("images/pic-person-04.png") no-repeat center;
  background-size: cover;
}

.round-img.five {
  background: url("images/pic-person-5.png") no-repeat center;
  background-size: cover;
}

.round-img.six {
  background: url("images/pic-person-06.jpg") no-repeat center;
  background-size: cover;
}

.round-img.seven {
  background: url("images/pic-person-07.jpg") no-repeat center;
  background-size: cover;
}

.round-img.eight {
  background: url("images/pic-person-08.jpg") no-repeat center;
  background-size: cover;
}

.round-img.nine {
  background: url("images/pic-person-09.jpg") no-repeat center;
  background-size: cover;
}

.round-img.ten {
  background: url("images/pic-person-10.jpg") no-repeat center;
  background-size: cover;
}

.round-img.eleveen {
  background: url("images/pic-person-11.jpg") no-repeat center;
  background-size: cover;
}

.round-img.twelve {
  background: url("images/pic-person-12.jpg") no-repeat center;
  background-size: cover;
}

/* ! Ends */





.hero.middle {
  text-align: center;
}
.hero.middle h1 {
  font-size: 2.5rem;
  font-weight: 1rem;
  padding: 1rem 0 1rem 0;
}

.hero.middle p {
  font-size: 1rem;
  font-weight: 540;
  padding: 0 0 2rem 0;
  line-height: 1.5rem;

  color: var(--base-font-color);
}


/* * button style * */
/* button {
  border: 0;
  margin-bottom: 2rem;

  background-color: none;
} */

a {
  color: #fafafa;
  text-decoration: none;
}

span.left a {
  background: #5194aa;
  padding: 0.8rem 2rem;
  font-weight: 800;

  border-radius: 2rem;
  margin-right: 0.5rem;
}

span.left span {
  color: #31c8fa;
}

span.right a {
  font-weight: 800;
  padding: 0.8rem;
  border-radius: 2rem;

  background: #8363a9;
}

.page-break.vertical-line {
  height: 100px;
  margin-right: 50%;

  border-right: 3px solid var(--border-line-color);
  position: relative;
}

.pgb-circle {
  padding: 0.5rem;
  border: 1px solid var(--border-line-color);
  border-radius: 50%;

  position: absolute;
  bottom: 0;
  left: 97%;

  background: var(--general-background-color);
}

.col-1-4 {
  flex: 0 1 90%;
  height: 250px;
  margin: 5rem auto;

  display: flex;
  justify-content: space-between;
}

.image-box {
  flex: 0 1 270px;
  border-radius: 0.8rem;
}

.image-box.one {
  background: url("images/body-image-01.jpg") no-repeat center;
  background-size: cover;
}

.image-box.two {
  background: url("images/body-image-02.jpg") no-repeat center;
  background-size: cover;
}

.image-box.three {
  background: url("images/body-image-03.jpg") no-repeat center;
  background-size: cover;
}

.image-box.four {
  background: url("images/body-image-04.jpg") no-repeat center;
  background-size: cover;
}

.body-texts {
  text-align: center;

  padding: 1rem;
  width: 50%;
  margin: 3rem auto 0 auto;
}

.body-texts h3 {
  letter-spacing: 0.2rem;
  color: #31c8fa;
}

.body-texts h1 {
  font-size: 2.5rem;
  font-weight: 900;

  margin: 2rem auto;
}

.body-texts p {
  line-height: 1.5rem;
  font-weight: 550;

  color: var(--base-font-color);
}

/* * footer Section * */
#footer {
  height: 150px;
  background: #859ce9;
  display: flex;

  position: relative;
}

footer {
  position: relative;
}

#circle-two {
  position: absolute;
  z-index: 4;
  top: 36%;
  right: 48.8%;
  padding: 0.5rem;


  border: 1px solid var(--border-line-color);
  border-radius: 50%;
  background: var(--general-background-color);
}

.col-1-3 {
  flex: 0 1 75%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.col-1-3::before {
  content: "";
  background-image: url("images/foote-bg.jpeg");
  background-size: cover;


  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

[class^="coln"] {
  flex: 1 1 50%;
  margin: auto;
  color: #fafafa;
  position: relative;
}

.coln-1 h3 {
  font-size: 1.3rem;
  margin: 0 auto;
  color: #fafafa;
}

.coln-2 p {
  font-size: 1rem;
}
.coln-3 {
  text-align: end;
}

.coln-3 .left a {
  background: #8363a9;
  padding: 0.8rem 1.5rem;
  font-weight: 800;

  border-radius: 2rem;
}

.coln-3 .left span {
  color: #31c8fa;
}


/* * Pseduo Classes and Hover Effect * */

a:hover {
  color: crimson;
  font-size: large;
  font-style: italic;
  box-shadow: 0 0 0.3rem 0.3rem rgb(202, 195, 195, 0.5);
  margin-bottom: 0.5rem;

}

.image-box:hover {
  margin-bottom: 0.5rem;
}